:root {
  --emphases-primary: #b5038d;

  --text-primary: #0e2240;
  --text-secondary: #535353;

  --heading-primary: #0e2240;
  --heading-secondary: #535353;

  --white: #fff;

  --bg-primary: #fff;
  --bg-secondary: #f3f3f3;
  --bg-tertiary: #0E2240;
  --bg-quaternary: #eee;
}
