:root {
  --heading-primary: #fff;
  --heading-secondary: #8CBCB9;
  --text-primary: #000;

  --button-bg: hsl(2, 60%, 46%);
  --button-hover: #ba4d2f;

  --bg-primary: #c5cbd3;
  --bg-secondary: #fff;
}
