<div class="info">
  <ul class="info__list">
    <li class="info__item">
      <h4 class="info__subtitle">ip adress</h4>
      <h3 class="info__title" id="ip">👽</h3>
    </li>
    <li class="info__item">
      <h4 class="info__subtitle">location</h4>
      <h3 class="info__title" id="location">👽</h3>
    </li>
    <li class="info__item">
      <h4 class="info__subtitle">Timezone</h4>
      <h3 class="info__title" id="timezone">👽</h3>
    </li>
    <li class="info__item">
      <h4 class="info__subtitle">isp</h4>
      <h3 class="info__title" id="isp">👽</h3>
    </li>
  </ul>
</div>