<div class="info">
  <ul class="info__list">
    <li class="info__item">
      <h4 class="info__subtitle">ip adress</h4>
      <h3 class="info__title">2.2.2.2.2</h3>
    </li>
    <li class="info__item">
      <h4 class="info__subtitle">location</h4>
      <h3 class="info__title">France, Paris</h3>
    </li>
    <li class="info__item">
      <h4 class="info__subtitle">Timezone</h4>
      <h3 class="info__title"><span>UTC</span>+3</h3>
    </li>
    <li class="info__item">
      <h4 class="info__subtitle">isp</h4>
      <h3 class="info__title">Dominion</h3>
    </li>
  </ul>
</div>