<header class="header">
  <div class="header__bg">
    <img src="images/compressed/header/bg.png" alt="IP adress tracker">
  </div>
  <div class="container">
    <div class="header__wrapper">
      <h1 class="header__heading">IP adress tracker</h1>

      <form class="header__form form">
        <input class="form__input" type="text" name="formIp" required>
        <button class="form__submit">
          <img src="images/compressed/icons/search.svg" alt="">
        </button>
      </form>
    </div>
  </div>
</header>